*,
*:before,
*:after {
    box-sizing: border-box;
}

.featured__item{
    padding-top: 2em;
    justify-content: center;
    align-items: center;
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.5;
    background: rgb(216, 216, 216);
    font-family: 'Open Sans',Verdana, Geneva, Tahoma, sans-serif;
}

/* selections*/

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    /* A better looking default horizontal rule */
    display: block;
    height: 1px;
    border: 0;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.heading,
p {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    line-height: 1.6rem;
    margin-bottom: 1.2rem;
}

.heading {
    color: rgb(43, 159, 215);
    text-transform: capitalize;
    text-align: center;
}

img {
    width: 100%;
}


h1 {
    color: #000;
}



ul,
li {
    padding: 0;
    margin: 0;
    list-style-position: inside;
}

.page {
    margin: 0 auto; 
    padding: 2rem; 
    background: rgb(255, 255, 255);
}

.page__header {
    grid-area: hd;
}

.featured {
    grid-area: fr;
}

.page__main {
    grid-area: mn;
}

.page__sidebar {
    grid-area: sd;
}

.page__footer {
    grid-area: ft;
}

.logo__img {
    width: 100%;
    height: 5rem;
}

/* ==========================================================================
   2. LAYOUT
   ========================================================================== */
.heading {
    color: rgb(43, 159, 215);
    text-transform: capitalize;
    text-align: center;
}

.page__slider {
    width: 100%;
}

div, section, footer, header {
    border: 1px solid #ccc;
}

.column {
    background-color:beige;
    margin: 1rem; 
}

/*small only*/
@media screen and (max-width:39.975em) {


}


/* Medium and Up*/
@media screen and (min-width: 40em) {

    .row {
        display: grid;
        width: 85vw;
        max-width: 70rem;
        margin: 0 auto;
        
    }

    .m-col-2 {
        grid-template-columns: 1fr 1fr;
    }

    .m-col-3 {
        grid-template-columns: repeat(3, 1fr);
    }
    .m-col-4 {
        grid-template-columns: repeat(4, 1fr);
    }
    .m-col-5 {
        grid-template-columns: repeat(5, 1fr);
    }

    .span-full {
        grid-column-start: 1;
        grid-column-end: -1;
        
    }
}


/*Medium only*/
@media screen and (min-width: 40em) and (max-width: 63.9375em) {


}


/* Large and Up*/
@media screen and (min-width: 64em) {
    .l-col-2 {
        grid-template-columns: 1fr 1fr;
    }

    .l-col-3 {
        grid-template-columns: repeat(3, 1fr);
    }
    .l-col-4 {
        grid-template-columns: repeat(4, 1fr);
    }
    .l-col-5 {
        grid-template-columns: repeat(5, 1fr);
    }
    .l-col-6 {
        grid-template-columns: repeat(6, 1fr);
    }
    .span-full {
        grid-column-start: 1;
        grid-column-end: -1;
        
    }
}


/*Large Only*/
@media screen and (min-width: 64em) and (max-width: 74.9375em) {


}


/* ==========================================================================
   3. MODULES
   ========================================================================== */

.widget>* {
    padding: 0;
    margin: 0;
}

.widget {
    padding: 1.5rem 0 1rem 0;
    border-bottom: 1px solid #ccc;
}

.widget ul {
    list-style: none;
}

.widget__list__item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.widget__item__content {
    order: 2;
    grid-column: span 3;
    padding-right: 0;
}

.thumbnail--small {
    order: 1;
    grid-column: span 1;
    margin: 1.5rem 0.5rem 0 0;
}

/* ==========================================================================
   4. STATES
   ========================================================================== */
/*



/* ==========================================================================
   5. UTILITIES
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
    display: none !important;
}


.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}


.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}


.invisible {
    visibility: hidden;
}


.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments HD devices */
}


@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;

        /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " ("attr(href) ")";
    }

    abbr[title]:after {
        content: " ("attr(title) ")";
    }


    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/* ==========================================================================
   6. MISC
   ========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
